$color-primary: #0B9444 !default;
$color-primary-dark: #07612C !default;
$color-accent: #EF4D4D !default;
$color-sliver: #C0C0C0;
$color-border: #C0C0C0;
$color-bg-white: #f0f0f0;
$color-white-trans: #00FFFFFF;
$color-main: #0B9444;
$color-main-dark: #07612C;
// $color-primary: #22aa8f !default;
// $color-primary-dark: #007882 !default;