// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import 'app-variables';
@import '~nativescript-theme-core/scss/dark';
// Override variables here
@import '~nativescript-theme-core/scss/index';
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.page_title,
.page_title_small {
    font-family: "f_arima_madurai_bold";
    font-weight: bold;
    color: #007882;
    font-size: 40px;
    text-align: center;
    margin: 8, 8, 4, 8;
}

.page_title_small {
    font-size: 24px;
}

.dlg_title {
    font-family: "f_arima_madurai_bold";
    font-weight: bold;
    color: #007882;
    font-size: 24px;
    text-align: center;
    margin: 8, 8, 4, 8;
}

.page_sub_title {
    font-family: "f_arima_madurai_medium";
    font-size: 16px;
    text-align: center;
    margin: 0, 0, 46, 0;
}

.btn {
    font-family: "f_arima_madurai_extra_bold";
    font-size: 18;
    font-weight: 600;
    border-radius: 50%;
    border-width: 0.5;
}

.btn-primary {
    font-family: "f_arima_madurai_bold";
    background-color: #EF4D4D;
    margin-left: 0;
    margin-right: 0;
}

.btn-secondary {
    font-family: "f_arima_madurai_extra_bold";
    color: $color-primary;
    font-size: 18;
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
    border-width: 0.5;
    border-color: $color-border;
}

.btn-secondary:active {
    background-color: $color-primary;
    color: white;
    border-color: $color-primary;
}

Label,
TextField {
    font-family: "f_arima_madurai_regular";
    color: black;
}

ActivityIndicator {
    color: #EF4D4D;
    width: 15%;
}

.page {
    background: white;
}