<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996793246199-45pf4redv8ono6mes6i3qg2k34gfjmh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996793246199-45pf4redv8ono6mes6i3qg2k34gfjmh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDtaNkARw08Ob6hhd8C3o8Qso6ilCOSD9s</string>
	<key>GCM_SENDER_ID</key>
	<string>996793246199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nnbinh.jumbo</string>
	<key>PROJECT_ID</key>
	<string>pg-management-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-management-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996793246199:ios:5c07857dc8733d67024ef2</string>
	<key>DATABASE_URL</key>
	<string>https://pg-management-ios.firebaseio.com</string>
</dict>
</plist>